
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-up:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-pin:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-tags:before { content: '\e80b'; } /* '' */
.icon-globe:before { content: '\e80c'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-comment:before { content: '\f27b'; } /* '' */
